# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

*.png
# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/